:root {
  --primary-text-color: #212121; 
  --border-color: rgb(224, 228, 236);
  --primary-background-color: #ffffff; 
  --secondary-text-color: #757575; 
  --secondary-background-color: #F5F4FA; 
  --box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
  --animation-duration: 250ms; 
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

}


